
<div class="contenedor-general">
    <div class="contenedor-ruleta">
        <img class="flecha-ruleta" src="./../../../assets/image/flecha-ruleta.png" alt="flecha ruleta">
        <img class="ruleta" src="./../../../assets/image/ruleta.png" alt="ruleta" #ruleta>
        <button (click)="cambio()" [disabled]="botonDeshabilitado"></button>
        <audio style="display: none;" src="./../../../assets/sonido/ruleta.mp3" #audio></audio>
    </div>
    
    <div class="contenedor-preguntas" #preg>
        <div  class="pregunta" *ngIf="categoriaSeleccionada != null">
            <h4 *ngIf="categoriaSeleccionada != ''">¡{{categoriaSeleccionada.categoria}}!</h4>
            <h4>{{categoriaSeleccionada.preguntas[0].pregunta}}</h4>
            <div class="respuestas" >

                <div class="respuesta" (click)="seleccionarRespuesta(1)">
                    <div class="face front">
                        <img src="{{categoriaSeleccionada.preguntas[0].imagen1}}" alt="respuesta">
                    </div>
                    <div class="face back">
                        <p>{{categoriaSeleccionada.preguntas[0].respuesta1}}</p>
                    </div>
                </div>

                <div class="respuesta" (click)="seleccionarRespuesta(2)">
                    <div class="face front">
                        <img src="{{categoriaSeleccionada.preguntas[0].imagen2}}" alt="respuesta">
                    </div>
                    <div class="face back">
                        <p>{{categoriaSeleccionada.preguntas[0].respuesta2}}</p>
                    </div>
                </div>

                <div class="respuesta" (click)="seleccionarRespuesta(3)">
                    <div class="face front">
                        <img src="{{categoriaSeleccionada.preguntas[0].imagen3}}" alt="respuesta">
                    </div>
                    <div class="face back">
                        <p>{{categoriaSeleccionada.preguntas[0].respuesta3}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>