<div class="contenedor-principal">
    <h1>PREGUNTAS Y RESPUESTAS</h1>

    <div class="form-jugador" *ngIf="nombreJugador == ''">
        <form action="" #playerForm="ngForm" (ngSubmit)="play(playerForm)" >
            <label for="namePlayer">Ingresa el nombre del participante</label>
            <input type="text" name="namePlayer" #title="ngModel" [(ngModel)]="playerForm.name">
            <button type="submit">Jugar</button>
        </form>
    </div>
    <app-ruleta *ngIf="nombreJugador != ''" 
        [categorias]="categorias" 
        [jugador]="nombreJugador"
        (outputSalida)="reiniciar($event)">
    </app-ruleta>
</div>
<!-- <mat-tab-group>
    <mat-tab label="Cargar preguntas"> 
    </mat-tab>
    <mat-tab label="Ruleta">
    </mat-tab>
</mat-tab-group> -->